<div class="widget-content" data-unavailable="[]">
  <%= simple_form_for :search, url: pets_path, method: :get, html: { class: "pet-search-form mb-2" } do |f| %>
    <input class="form-control string required" type="text" placeholder="Where" name="search[where]" />
    <div class="d-flex">
      <input class="form-control string required" type="text" placeholder="From" name="search[from]" data-controller="flatpickr"/>
      <input class="form-control string required" type="text" placeholder="To" name="search[to]" data-controller="flatpickr" />
    </div>
    <%= f.input :type, collection:  Category.pluck(:name) , label: false, placeholder: "Type of pet", class: "form-control string required"%>
    <div class="w-100 text-center">
      <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  <% end %>
</div>

<% @pets.each do |pet| %>
  <div class="card mx-auto card-pet my-3">
    <% if pet.photos.present? %>
      <%= image_tag pet.photos.first.url, class: 'rounded-bottom-4 card-img-top', alt: 'Pet picture' %>
    <% else %>
      <%= image_tag 'cat', alt: 'Pet picture', class: 'rounded-bottom-4 card-img-top' %>
    <% end %>
    <div class="d-flex">
      <div class="p-2 align-self-center mr-auto">
        <h2 class="m-0"><%= pet.name %></h2>
        <p class="m-0"><%= pet.user.address %></p>
        <p class="m-0"><%= pet.id %></p>
      </div>
      <div class="p-2 align-self-center card-rating">
        <% pet.average_rating.times do %>
          <i class="fa-solid fa-star"></i>
        <% end %>
      </div>
    </div>
    <p class="card-text p-1">
      <%= pet.description %>
    </p>
    <%= link_to "Read more", pet_path(pet), class:"btn btn-flat my-0"%>
  </div>
<% end %>
