<div id="picture-carousel" class="carousel slide" data-bs-interval="false">
  <div class="carousel-inner">
    <% @pet.photos.each_with_index do |photo, index| %>
      <div class="carousel-item<%= " active" if index == 0 %>">
        <%= cl_image_tag photo.key, class: "d-block w-100" %>
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#picture-carousel" data-bs-slide="prev" onclick="event.stopPropagation();">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#picture-carousel" data-bs-slide="next" onclick="event.stopPropagation();">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container mt-3">
  <div class="pet-info">
    <h1 class="text-center"><%= @pet.name %></h1>
    <% if @pet.reviews.count > 0 %>
      <% average_rating = @pet.reviews.average(:rating).round(1) %>
      <div class="average-rating">
        <% average_rating.floor.times do %>
          <i class="fa-solid fa-star text-success" style="text-shadow: 0px 0px 0px"></i>
        <% end %>
        <% if average_rating - average_rating.floor >= 0.5 %>
          <i class="fa-solid fa-star-half text-success" style="text-shadow: 0px 0px 0px"></i>
        <% end %>
        <span>(<%= average_rating %>)</span>
      </div>
    <% end %>
    <span>(Total Reviews: <%= @pet.reviews.count %>)</span>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card rounded shadow-sm">
        <div class="card-body">
          <h3 class="card-title">Description:</h3>
          <p class="card-text"><%= @pet.description %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <div class="card rounded shadow-sm">
        <div class="card-body">
          <h3 class="card-title">Details:</h3>
          <p class="card-text"><strong>Category:</strong> <%= @pet.category.name %></p>
          <p class="card-text"><strong>Owner:</strong> <%= @pet.user.first_name %></p>
          <p class="card-text"><strong>Address:</strong> <%= @pet.user.address %></p>

        </div>
      </div>
    </div>
  </div>

<%= render "reviews/pet_reviews", reviews: @pet.reviews.order(updated_at: :desc)%>
