<div id="picture-carousel" class="carousel slide" data-bs-interval="false">
  <div class="carousel-inner">
    <% @pet.photos.each_with_index do |photo, index| %>
      <div class="carousel-item<%= " active" if index == 0 %>">
        <%= cl_image_tag photo.key, class: "d-block w-100" %>
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#picture-carousel" data-bs-slide="prev" onclick="event.stopPropagation();">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#picture-carousel" data-bs-slide="next" onclick="event.stopPropagation();">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container mt-3">
  <div class="pet-info">
    <h1 class="text-center"><%= @pet.name %></h1>
    <% if @pet.reviews.count > 0 %>
      <% average_rating = @pet.reviews.average(:rating) %>
      <div class="average-rating">
        <% average_rating.floor.times do %>
          <i class="fa-regular fa-star"></i>
        <% end %>
        <% if average_rating - average_rating.floor >= 0.5 %>
          <i class="fa-regular fa-star-half"></i>
        <% end %>
        <span>(<%= average_rating %>)</span>
      </div>
    <% end %>
    <span>(Total Reviews: <%= @pet.reviews.count %>)</span>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card rounded shadow-sm">
        <div class="card-body">
          <h3 class="card-title">Description:</h3>
          <p class="card-text"><%= @pet.description %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <div class="card rounded shadow-sm">
        <div class="card-body">
          <h3 class="card-title">Details:</h3>
          <p class="card-text"><strong>Category:</strong> <%= @pet.category.name %></p>
          <p class="card-text"><strong>Owner:</strong> <%= @pet.user.first_name %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <div class="card rounded shadow-sm">
        <div class="card-body">
          <h5 class="card-title"><span class="highlight">Reviews</span> (<%= @pet.reviews.count %>)</h5>
          <% @pet.reviews.each do |review| %>
            <div class="review-item">
              <h6 class="card-subtitle mb-2 text-muted"><span class="user-name"><%= review.user.first_name %></span></h6>
              <p class="card-text"><%= review.content %></p>
              <p class="card-text rating">
                <i class="fa-regular fa-star"></i>
                <%= review.rating %>
              </p>
            </div>
          <% end %>
          <% if @pet.reviews.count > 4 %>
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#reviewsModal">
              View All Reviews
            </button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap Modal -->
<div class="modal fade" id="reviewsModal" tabindex="-1" aria-labelledby="reviewsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reviewsModalLabel">All Reviews</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% @pet.reviews.each do |review| %>
          <div class="review-item">
            <h6 class="card-subtitle mb-2 text-muted"><span class="user-name"><%= review.user.first_name %></span></h6>
            <p class="card-text"><%= review.content %></p>
            <p class="card-text rating">
              <i class="fa-regular fa-star"></i>
              <%= review.rating %>
            </p>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
