<div id='pet-booking-dates'>
  <div class="widget-content" data-unavailable="<%= pet.unavailable_dates.to_json %>">
    <%= simple_form_for([pet, booking], data: { controller: 'flatpickr', flatpickr_start_time_value: "#starttime", flatpickr_end_time_value: "#endtime" }) do |f| %>
      <%= f.input :start_time, label: 'CHECK-IN', as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>
      <%= f.input :end_time, label: 'CHECK-OUT', as: :string, input_html: { data: { flatpickr_target: "endTime" }, id: 'endtime' } %>
      <%= label_tag("First Message") %>
      <%= text_field_tag :message, "", class: "form-control my-2" , as: :text %>
      <%= f.submit 'Submit', class: "btn btn-success" %>
    <% end %>
  </div>
</div>
