<div class="container col-12 col-md-6 col-lg-4">
    <div class="chatroom rounded rounded-5 "
      data-controller="chatroom-subscription"
      data-chatroom-subscription-chatroom-id-value="<%= @booking.id %>"
    >
          <h1>Messages</h1>

          <p class="px-4 py-0 m-0 ">
            <strong>Chat Between:</strong> <%= @booking.user.first_name %> and <%= @booking.pet.user.first_name %>
            <br>
            <strong>Pet:</strong> <%= @booking.pet.name %>
            <br>
            <strong>Status:</strong> <%= @booking.status %>
            <br>

            <div class="text-center d-flex justify-content-center">
              <% if @booking.pet.user == current_user %>
                <% case @booking.status %>
                <% when "pending" %>
                  <%= button_to  "Accept", accepted_booking_path(@booking), method: :patch, class: "btn btn-success mx-1" %>
                  <%= button_to "Decline", declined_booking_path(@booking), method: :patch, class: "btn btn-success mx-1" %>
                <% when "accepted" %>
                  <%= button_to "Decline", declined_booking_path(@booking), method: :patch, class: "btn btn-success mx-1" %>
                  <%= button_to "Pet delivered", ongoing_booking_path(@booking), method: :patch, class: "btn btn-success mx-1" %>
                <% when "declined" %>
                  <%= button_to "Accept", accepted_booking_path(@booking), method: :patch, class: "btn btn-success mx-1" %>
                <% when "ongoing" %>
                  <%= button_to "Completed", completed_booking_path(@booking), method: :patch, class: "btn btn-success mx-1" %>
                <% end %>
              <% end %>
              <% if @booking.review.nil? and @booking.status == "completed" and @booking.pet.user != current_user %>
                <%= link_to "Write a review", "#", class: "btn btn-success mx-1", data: { bs_toggle: "modal", bs_target: "#reviewModal" } %>
              <% else %>
                <%= "Please wait for Pet review!" %>
              <% end %>
            </div>

          </p>

          <div class="messages" data-chatroom-subscription-target="messages">
            <% @booking.messages.each do |message| %>
              <%= render "messages/message", message: message %>
            <% end %>
          </div>

          <%= simple_form_for [@booking, @message],
            html: {data: {action: "turbo:submit-end->chatroom-subscription#resetForm"}, class: "d-flex"} do |f|
          %>
            <%= f.input :content,
              label: false,
              placeholder: "Write new message",
              class: "bg-danger",
              id: "usermsg",
              wrapper_html: {class: "flex-grow-1"}
            %>
            <%= f.submit "Send", class: "btn btn-success mb-3" %>
          <% end %>

       <div id="reviewModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <%= simple_form_for [@booking, @review], html: { id: "reviewForm", data: { controller: "star-rating" } } do |f| %>
             <div class="modal-header">
                <h5 class="modal-title">Write a Review</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
              <div class="rating">
                <% (1..5).each do |rating| %>
                  <%= f.label :rating, class: "star-label", data: { action: "click->star-rating#selectStar", value: rating } do %>
                    <%= f.radio_button :rating, rating, id: "rating_#{rating}", class: "star-input visually-hidden" %>
                    <i class="fa-star fa-regular" data-star-rating-target="star"></i>
                  <% end %>
                <% end %>
              </div>

                <%= f.input :content, as: :text, label: "Message" %>
              </div>
              <div class="modal-footer">
                <%= f.submit "Submit Review", class: "btn btn-success" %>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
