<style>
  .toggle-wrap {
    overflow: hidden;
    transition: height 1.0s ease-in-out;
  }

  .hidden {
    height: 0 !important;
  }
</style>

<div class="container">
  <div class="row text-center mx-1 my-2 border border-success rounded  rounded-5 bg-danger" style="min-height: 91vh">
    <h1 class="text-center mt-3">Inbox</h1>
    <hr>

  <div data-controller="toggle">
    <div class="btn"  data-action="click->toggle#toggle">
      <h3 class="toggle-trigger">Ongoing bookings
        <span class="badge bg-success text-danger rounded-pill "><%= @ongoing.size%></span>
      </h3>
    </div>
    <%= render "bookings/inboxlist", bookings: @ongoing %>
    <hr>
  </div>


  <div data-controller="toggle">
    <div class="btn" data-action="click->toggle#toggle">
      <h3 class="toggle-trigger">Pending requests
        <span class="badge bg-success text-danger rounded-pill "><%= @pending_requests.size%></span>
      </h3>
    </div>
    <%= render "bookings/inboxlist", bookings: @pending_requests%>
    <hr>
  </div>

  <div data-controller="toggle">
    <div class="btn"  data-action="click->toggle#toggle">
      <h3 class="toggle-trigger">Accepted booking
        <span class="badge bg-success text-danger rounded-pill "><%= @accepted.size%></span>
      </h3>
    </div>
    <%= render "bookings/inboxlist", bookings: @accepted %>
    <hr>
  </div>

  <div data-controller="toggle">
    <div class="btn"  data-action="click->toggle#toggle">
      <h3 class="toggle-trigger">Declined booking
        <span class="badge bg-success text-danger rounded-pill "><%= @declined.size%></span>
      </h3>
    </div>
    <%= render "bookings/inboxlist", bookings: @declined %>
    <hr>
  </div>

  <div data-controller="toggle">
    <div class="btn"  data-action="click->toggle#toggle">
      <h3 class="toggle-trigger">Completed booking
        <span class="badge bg-success text-danger rounded-pill "><%= @completed.size%></span>
      </h3>
    </div>
    <%= render "bookings/inboxlist", bookings: @completed %>
  </div>
</div>
