<!-- app/views/shared/_bottom_navbar.html.erb -->

<nav class="navbar navbar-expand fixed-bottom w-100">
  <div class="container-fluid">
    <ul class="navbar-nav w-100 d-flex justify-content-around">
      <li class="nav-item">
        <%= link_to pets_path do %>
          <%= image_tag 'animal-shelter.png', alt: 'Home', id: 'navbar-home' %> <!-- Replace 'home.png' with the path to your home icon image -->
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to '#' do %>
          <%= image_tag 'fav.png', alt: 'Favorites', id: 'navbar-heart' %> <!-- Replace 'search.png' with the path to your search icon image -->
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to '#' do %>
          <%= image_tag 'bookings.png', alt: 'Bookings', id: 'navbar-bookings' %> <!-- Replace 'search.png' with the path to your search icon image -->
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to inbox_path do %>
          <%= image_tag 'dogmessage.png', alt: 'Messages', id: 'navbar-message' %> <!-- Replace 'heart.png' with the path to your heart icon image -->
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to '#' do %>
          <%= image_tag 'profile.png', alt: 'User', id: 'navbar-profile' %> <!-- Replace 'user.png' with the path to your user icon image -->
        <% end %>
      </li>
    </ul>
  </div>
</nav>
