<div class="container">
  <div class="row text-center justify-content-center align-items-center my-5" style="min-height: 80vh">
    <div class="col-10 col-sm-6 border border-success py-4 rounded rounded-5 bg-danger">
      <%= form_for @category do |f| %>
        <h1 class="text-center mt-3">Edit Category</h1>
        <div class="form-group mb-3">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <%= f.submit 'Update Category', class: "btn btn-success" %>
        <%= link_to "Delete", @category, class: "btn btn-warning", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }  %>
      <% end %>
    </div>
  </div>
</div>
